.text-justify {
    text-align: justify-all;
}

.margin{
    margin-left:35%;
}

.text-gray {
    color: #8d8d8d;
}

.w-90 {
    width: 50% !important;
}

.text-red {
    color: #fe0000;
}

.text-black {
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
}

.bg-blog {
    background-color: #727070;
    height: 70vh;
}

.bg-gray {
    background-color: #F6F6F6;
    border-left: #727070 solid 10px;
}

.oswald {
    font-family: 'Oswald', sans-serif;
    bottom: -10%;
    right: 5%;
    font-size: 200px;
    color: rgba(129, 129, 129, 0.4);
    letter-spacing: -10px;
}
