body {
    background-color: #777;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*--------------------
Coming soon
--------------------*/
#content {
    padding: 10vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title h3 {
    font-size: 5vw;
    margin: 2vh;
}
.clock {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}
ul {
    padding-left: 0;
}
.clock li{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5vh 3vh;
    margin: 10px;
}
li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
.person {
    position: absolute;
    width: 20%;
    right: 5%;
    z-index: -1;
    top: 20%;
}
form {
    display: grid;
    grid-template-columns: 80% 20%;
}
.email-input {
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 12px;
    width: 150% !important;
}
input.submit {
    position: relative;
    left: -10%;
    text-decoration: none;
    color: #fff;
    padding: 10px 35px;
    background-color: #f00;
    border: 1px solid #f00;
    border-radius: 25px;
    font-size: 110%;
    box-shadow: 0 0 20px #fff;
}

input.submit:hover {
    background-color: #fff;
    color: #f00;
    box-shadow: 0 0 20px #fff;
    border-color: #777;
}

.footer-coming {
    margin: 0;
    
}
.footer-coming i {
    font-size: 70% !important;
}