@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #adadad;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*--------------------
Coming soon
--------------------*/

#content {
    padding-top: 10vh;
    width: 100%;
    margin: 0 auto;
    min-height: 24px;
    height: 100%;
    position: relative;
    text-align: center;
}

#content .title {
    padding-top: 5vh;
    font-size: 62px;
    letter-spacing: 12px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}

#content .title .first-text {
    font-weight: 700;
    font-weight: bold;
}

#content .title .last-text {
    font-weight: 400;
}

#content section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0 auto;
}
#content section ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
}
#content section ul li {
    display: inline-block;
    margin-right: 2rem;
    width: 170px;
    height: 150px;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid #ffffff;
}
#content section .times {
    font-size: 36px;
    letter-spacing: 0;
    color: #fff;
    font-weight: 400;
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* Form text input */
#content input {
    background-color: #adadad;
    width: 563px;
    height: 54px;
    border-radius: 27px;
    border: 1px solid #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    color: #ffffff;
    font-weight: 400;
}

/* Form submit button */
#content .inputBtn {
    font-size: 20px;
    letter-spacing: 0;
    color: #ffffff;
    font-weight: 400;
    width: 184px;
    height: 54px;
    border-radius: 27px;
    filter: drop-shadow(0 0 9px rgba(255,255,255,0.5));
    background-color: #ff090f;
    border: 1px solid #ff090f;
}

#content .footer {
    display: flex;
    text-align: center;
    margin: 10vh;
    padding: 10px;
    font-size: 150%;
}
#content .footer a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}
#content .footer a:hover {
    color: #f00;
}
#content .social-footer {
    display: flex;
}