@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.big-wrapper{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header{
    padding-top: 3vh;
    margin: 0 15%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

.active {
    color: rgb(253, 6, 6);
}

.nav-link:hover{
    color: rgb(253, 6, 6);
}

.login:hover{
    color: rgb(253, 6, 6);
    border-color: rgb(253, 6, 6);
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #fff;
}

/* Animation part */
.boxes {
    display: flex;
    justify-content: right;
    position: relative;
    top: 50px;
    right: 15vw;
}

.box {
    position: absolute;
    animation-name: toTop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: 0;
}
.box img {
    width: 250px;
}

@keyframes toTop {
    0% {
        top: 50px;
    }
    100% {
        top: 30px;
    }
}

.login {
    border: 1px solid #fff;
    border-radius: 20px;
    width: 15%;
    padding: 5px 25px;
}
.scroll-animation p{
    text-align: center;
    color: #fff;
    padding-top: 5px;
    font-size: 150%;
}
.scroll-down1{
    width: 25px;
    height: 40px;
    border-radius: 50px;
    border:  2px solid #fff;
    font-size: 15px;
    overflow: hidden; 
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 55vh;
}

.scroll-down1 i {
    color: #fff;
    animation: scrollDown1 1.5s ease infinite;
}

@keyframes scrollDown1{
    0%{
        transform: translateY(-15px);
        opacity: 0;
    }
    50%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(15px);
        opacity: 0;
    }
}
.rocket-and-cloud {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
}
.rocket-and-cloud img {
    width: 35%;
    position: absolute;
}
.rocket-and-cloud img:first-child {
    z-index: 1;
}
.rocket-and-cloud img:last-child {
    position: relative;
    z-index: 0;
}
.six-boxes {
    width: 70%;
    margin: auto;
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    padding-bottom: 7rem;
}
.box-with-icon {
    display: grid;
    grid-template-columns: 40% 60%;
}
.box-with-icon img{
    width: 50%;
}
.card-info h3 {
    font-size: 200%;
    color: red;
    padding-bottom: 5px;
}

.big-pic-box {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 35vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}
.big-pic-box img {
    position: absolute;
}
.big-pic-box img:first-child {
    width: 350px;
    top: -40%;
}
.big-pic-box img:last-child {
    width: 400px;
    right: 0;
    top: -90%;
}
.big-pic-info {
    align-self: center;
    margin: 0 10%;
}

.big-pic-info h3 {
    font-size: 20px;
    padding-bottom: 10px;
}
.big-pic-info p {
    padding-bottom: 35px;
}
.big-pic-info a.custom-btn-white, a.contact-us-btns {
    text-decoration: none;
    color: red;
    padding: 10px 35px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    font-size: 110%;
    box-shadow: 0 0 20px #fff;
}

.big-pic-info a.custom-btn-white:hover, a.contact-us-btns:hover {
    background-color: #f00;
    color: #fff;
    box-shadow: 0 0 20px #f00;
    border-color: #f00;
}
.portfolio {
    margin-top: 5vh;
}
.our-team {
    padding-top: 25px;
}
.portfolio-header, .our-team {
    display: grid;
    justify-content: center;
    padding-bottom: 5vh;
}
.portfolio-header h1, .our-team h1 {
    text-align: center;
    font-size: 30px;
}
.portfolio-header p, .our-team p {
    text-align: center;
    font-size: 15px;
}
.portfolio-header img, .our-team img {
    display: block;
    width: 40%;
    margin: auto;
    padding: 10px;
}
.custom-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio-nav a.nav-link {
    color: #333;
} 
.portfolio-nav a.nav-link:hover {
    color: #f00;
}
.active-nav {
    color: #f00 !important;
}
.custom-nav-item {
    padding: 0 10px;
}
.slider-video {
    height: 65vh;
}
.contact-us {
    background-color: #000;
    color: #fff;
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
}
.contact-us h1 {
    font-size: 250%;
}
.contact-btns {
    margin-top: 2vh;
}

.swiper {
    width: 70%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 60%;
    height: 85%;
    object-fit: cover;
  }
  .swiper-pagination-bullet-active {
      background-color: #f00;
  }
  .swiper-button-next, .swiper-button-prev {
      color: #333;
  }
  .video-cover {
      color: #fff;
      position: absolute;
      bottom: 7%;
      width: 60%;
      height: 15vh;
      background-color: #000;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 5vh;
      text-align: left;
  }
  .fa-play-circle {
      position: absolute;
      color: #fff;
  }
  .social {
      text-align: right;
  }
  .social i {
      padding: 10px 5px;
  }
  .social i:hover, .dev-social i:hover {
      color: #f00;
  }
  .video-info p {
      font-size: 80%;
      padding-top: 10px;
  }

  /* Modal */
  
  .fa-play-circle:hover {
      color: orange;
    cursor: pointer;
  }
  
  /* .close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  } */
/*   
  .hidden {
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  } */

  .contact-us {
      background: url("../images/contactRight.png");
      background-repeat: no-repeat;
      background-size: cover; 
  }
  a.contact-us-btns {
      margin: 0 10px;
  }
  a.contact-us-btns:last-child {
      margin-right: 15vw;
  }
  .content-slider {
      margin-top: 5vh;
      height: 75vh;
  }
  .slider-info {
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  .slider-info img {
      width: 100% !important;
  }
  .slider-info h3 {
      text-transform: uppercase;
      font-size: 80%;
      padding: 15px;
  }
  .slider-info > span {
      font-size: 80%;
      padding: 15px;
  }
  .status {
      display: flex;
      justify-content: space-between;
      padding: 20px 15px; 
  }
  .status div {
      display: flex;
  }
  .status div > i {
      padding-right: 10px;
  }
  .status a {
      text-decoration: none;
      color: rgb(245, 128, 128);
  }
  .status a:hover {
      color: #f00;
  }
  .slider-two {
      height: 50vh;
  }
  .mySwiper3 {
      width: 80%;
      padding: 0 50px;
  }
  .img-hover {
      position: relative;
      /* padding-left: 50px; */
  }
  .img-hover img {
      width: 100% !important;
      height: 50vh;
  }
  .dev-info {
      background-color: #000;
      color: #fff;
      width: 100%;
      position: absolute;
      top: 36vh;
      height: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      display: none;
      
  }
  .img-hover:hover >.dev-info {
      display: flex;
  }
  footer {
    padding-top: 15vh;
    height: 55vh;
    width: 100%;
    background-image: url("../images/earth.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: #fff;
  }
  .quick-navigator {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      font-size: 150%;
      
  }
  .custom-nav-quick li {
      margin: 0;
      padding: 0;
  }
  .custom-nav-quick li > a {
      color: #fff;
  }
  .nav-item1 a:hover {
    color: #f00;
  }
  .location p {
      padding: 10px 0;
  }
  .company h3,.location h3, .news h3, .learn-more-section h3 {
      padding-bottom: 15px;
  }
  .company ul>li,.location ul>li, .news ul>li, .learn-more-section ul>li {
      padding-bottom: 5px;
  }
  .footer {
      display: flex;
      justify-content: space-between;
      margin: 10vh 14vh;
      padding: 10px;
      font-size: 150%;
  }
  .footer a {
      text-decoration: none;
      color: #fff;
      margin-left: 15px;
  }
  .footer a:hover {
      color: #f00;
  }
  .social-footer {
      display: flex;
  }
@media only screen and (max-width: 1120px) {
    .header {
        margin: 0;
    }
    .big-pic-box img:first-child {
        width: 300px;
    }
    .big-pic-box img:last-child {
        width: 350px;
    }
}

@media only screen and (max-width: 1060px) {
    .six-boxes {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    } 
    .big-pic-box img:first-child {
        top: -30%;
    }
    .big-pic-box img:last-child {
        top: -70%;
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 10rem;
        flex-direction: column;
        background-color: rgba(44, 43, 43, 0.877);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
            z-index: 2;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .rocket-and-cloud img {
        width: 70%;
        position: absolute;
    }

    .box-with-icon img{
        width: 40%;
    }
    .six-boxes {
        grid-template-columns: auto;
        grid-template-rows: repeat(6, 1fr);
    }
    
    .big-pic-box img:first-child {
       width: 35%;
    }

    .big-pic-box img:last-child {
       display: none;
    }
    
    .big-pic-box {
        grid-template-columns: 1fr 2fr;
    }
    .contact-us {
        grid-template-columns: 1fr;
    }
    .contact-btns {
        margin-top: 7vh;
    }
    .swiper {
        width: 90%;
    }
    .swiper-slide img {
        width: 80%;
    }
    .video-cover {
        width: 80%;
    }
    a.contact-us-btns:last-child {
        margin-right: 0;
    }
    
    .quick-navigator {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .big-pic-box img:first-child {
        display: none;
     }
     
     .big-pic-box {
         grid-template-columns: 1fr;
     }
}


/*--------------------
Not Found
--------------------*/

.notFound-wrapper{
    background-image: url("../images/404-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.notFound-wrapper .content {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 70px;
}
.notFound-wrapper .content h1 {
    font-weight: 600;
    font-size: 199px;
    color: #ffffff;
}
.notFound-wrapper .content p {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 80px;
}
.notFound-wrapper .content a {
    background-color: #ffffff;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: -1px;
    color: #ff090f;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}